* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translate(-350px);
}
.post-enter-active {
    transform: translate(0);
    transition: all 500ms ease-in;
}
.post-exit {
    transform: translate(0);
}
.post-exit-active {
    transform: translate(-350px);
    transition: all 500ms ease-in;
}

.page-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}
